/*page salon*/
.salon{
  text-align: center;
  line-height: 1em;
  padding: 1em;
}
#salon{
  background-image:url('../images/photos/coupe-miroir.jpg');
  background-size: cover;
  width:100%;
  /*min-height:800px; */
  background-repeat: no-repeat;
}
#padding_texte{
  padding-bottom: 2em;
}
.bloc_salon{
  padding: 0 2em;
  text-align: center;
}
.margin_bottom{
  margin-bottom:2.5em;
  font-style: italic;
}
.bloc_services{
  padding: 0 2em;
  text-align: center;
}
.piou{
  margin: 0 auto;
  max-width: 60ch;
}
.bloc_reviews{
  text-align: center;
}
.double_volet{
    display: grid;
    gap: 1em;
    margin: 1em auto;
 }
 img{
    max-height:auto;
    width: 550px;
 }
 .gd_pt{
    grid-template-columns: 3fr 2fr;
}
.pt_gd{
    grid-template-columns: 2fr 3fr;
}
.centrage{
  margin: 0 auto;
  max-width: 40ch;
}
ul{
  list-style: none;
  padding:0px;
  margin:0px;
}
ul li{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.gauche{
  text-align: left;
}
.droite{
  text-align: right;
}



/*carrousel*/

#photos{
  position: relative;
  height: 350px;
  width: 480px;
  overflow: hidden;
  margin: auto;
}
#slideshow li{
  display: inline;
}
#slideshow{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 580px;   /*6photos de 580px -- 6x580px=3840px*/
  margin: 0;
  padding: 0;

  animation-name: slider;
  animation-duration: 20s;   
  animation-iteration-count: infinite; /*jamais de temps d'arrêt*/
  animation-timing-function: linear;
}

@keyframes slider {
  0.0%  {left: 0px;}
  12.5% {left: 0px;}    /* pour qu'il fasse un temps d'arrêt*/
  25.0% {left: -580px;}
  37.5% {left: -580px;}     /* pour qu'il fasse un temps d'arrêt*/
  50.0% {left: -1160px;}
  62.5% {left: -1160px;}    /* pour qu'il fasse un temps d'arrêt*/
  75.0% {left: -1740px;}
  87.5% {left: -1740px;}    /* pour qu'il fasse un temps d'arrêt*/
  100.0% {left: -2320px;}
}




.prev, .next {
  cursor: pointer;
  position: absolute;        
  top: 50%;
  /*transform: translateY(-50%);*/
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 1em;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.slide-dot{ text-align: center; }
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 1em;
}
.active, .dot:hover { background-color: #111111; }
