@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

*{
    box-sizing: border-box;
}
html{
    min-height: 100%;
    display: flex;
    font-family: 'ubuntu', sans-serif;
    color: rgb(43, 42, 42)
}
body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header */
header{
    padding: 1em;
    text-align: center;
    font-size: large;
    background-color: white;
}
header section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rdv{
    color: black;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic bold;
    font-size: 0.8em;
    padding: 1em 1.5em;
    border: 2px solid black;
    border-radius: 8px;
}
.rdv:hover{
    opacity: 0.5;
    color: hsl(22, 97%, 59%);
    border: 2px solid hsl(22, 97%, 59%);;
}
.rdv:active{
    text-decoration-color: orangered ;
}
#lampes{
    width: 200px;
}

/*nav barre*/
nav{
    font-size: large;
    position:sticky;
    top: 0;
    z-index: 10;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    flex-wrap: wrap;
    background-color: white;  
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    opacity: 0.5;
    color: hsl(22, 97%, 59%);
}

/*main général*/
main{
    padding:1em;
    padding: top 0.5rem;
    flex-grow: 1; 
}
h1{
    text-align: center;
    color: hsl(22, 97%, 59%);
}
h2{
    /*text-align: center;-*/
    color: rgb(43, 42, 42);
}
/*footer*/
footer{
    position: relative;
    bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: large;
    text-align: center;
    background-color: brown;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#Btt{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: hsl(22, 97%, 59%); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    }
#Btt:hover {
  background-color: hsl(22, 97%, 59%);
}